body {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
}

#login {
    font-size: 0.5em;
    border: 2px solid #0c2;
    padding: 8px;
    border-radius: 15px;
    color: #000;
    margin: 7px;
    text-align: center;
    background-color: #eee;
    transition: 1s;
}

    #login:hover {
        transition: 1s;
        background-color: #0c2;
    }
.resultado_pesquisa {
    background: none;
    display: inline;
   position: absolute;
   height: auto;
   width: 80px;
   margin-left: -30px;

}
.resultado_pesquisa a {
    font-size: 12px;
    font-family: Verdana, Arial, sans-serif;
    color: #fc6;
    cursor: pointer;
}
.resultado_pesquisa a::after, .resultado_pesquisa a::before{
    content: none;
}
header button[type="submit"] {
    background-color: rgba(255, 255, 255, 0.80);
    border-radius: 3px;
    cursor: pointer;
}

@media only screen and (max-width: 360px) {
    header {
        font-size: 1em;
        padding: 0;
        background-image: url(../img/header_950.jpg);
        margin: 0 0 15px 0;
        width: auto;
        height: 207px;
    }

        header ul {
            padding-left: 10px;
            margin-left: 0;
            padding-top: 10px;
            background-color: #000;
            width: 96.3%;
            height: 65px;
            display: inline-block;
        }

            header ul li {
                list-style: none;
                display: inline-block;
            }

        header li::after, header li::before {
            content: " | ";
        }

    #logo {
        position: relative;
        left: 0;
        top: 0;
        width: 80px;
        margin: 8px;
    }

    #login {
        position: absolute;
        margin: 15px;
        top: 0;
        right: 0;
        width: auto;
    }

        #login:hover {
            transition: 1s;
            background-color: #0c2;
        }

    header button[type="submit"] {
        background-image: url(../img/busca.png);
        background-repeat: no-repeat;
        text-indent: -9999px;
        border: none;
        width: 20px;
        height: 20px;
        padding:0;
    }

    header input[type="search"] {
        border: none;
        width: auto;
        border-radius: 3px;
    }

    header h1 {
        border: 0;
        margin-bottom: 15px;
        margin-top: 0;
        padding: 0 0 15px;
    }

    header a {
        font-weight: bolder;
    }

        header a:link {
            color: #fff;
        }

        header a:visited {
            color: #fc6;
        }

        header a:active {
            color: #f80;
        }

    #fig-logo {
        background-color: none;
        margin: 0;
        padding: 0;
        border: none;
        text-align: initial;
    }
}

@media only screen and (min-width: 365px) and (max-width: 400px) {
    header {
        font-size: 1em;
        padding: 0;
        background-image: url(../img/header_950.jpg);
        margin: 0 0 15px 0;
        width: auto;
        height: 202px;
    }

        header ul {
            padding-left: 10px;
            margin-left: 0;
            padding-top: 10px;
            background-color: #000;
            width: 97%;
            height: 48px;
            display: inline-block;
        }

            header ul li {
                list-style: none;
                display: inline-block;
            }

        header li::after, header li::before {
            content: " | ";
        }

    #logo {
        position: relative;
        left: 0;
        top: 0;
        width: 95px;
        margin: 8px;
    }

    #login {
        position: absolute;
        margin: 15px;
        top: 0;
        right: 0;
        width: auto;
    }

    header button[type="submit"] {
        background-image: url(../img/busca.png);
        background-repeat: no-repeat;
        text-indent: -9999px;
        border: none;
        padding: 0;
        width: 20px;
        height: 20px;
    }

    header input[type="search"] {
        border: none;
        width: auto;
        border-radius: 3px;
    }

    header h1 {
        border: 0;
        margin-bottom: 15px;
        margin-top: 0;
        padding: 0 0 15px;
    }

    header a {
        font-weight: bolder;
    }

        header a:link {
            color: #fff;
        }

        header a:visited {
            color: #fc6;
        }

        header a:active {
            color: #f80;
        }

    #fig-logo {
        background-color: none;
        margin: 0;
        padding: 0;
        border: none;
        text-align: initial;
    }
}

@media only screen and (min-width: 401px) and (max-width: 409px){
    header {
        font-size: 1em;
        padding: 0;
        background-image: url(../img/header_950.jpg);
        margin: 0 0 15px 0;
        width: auto;
        height: 200px;
    }

        header ul {
            padding-top: 10px;
            background-color: #000;
            width: 93.3%;
            height: 45px;
            display: inline-block;
        }

            header ul li {
                margin-right: 50px;
                list-style: none;
                display: inline-block;
            }

        header li::after, header li::before {
            content: " | ";
        }

    #logo {
        position: relative;
        left: 0;
        top: 0;
        width: 95px;
        margin: 8px;
    }

    #login {
        position: absolute;
        margin: 25px;
        top: 0;
        right: 0;
        width: auto;
    }

    header button[type="submit"] {
        background-image: url(../img/busca.png);
        background-repeat: no-repeat;
        text-indent: -9999px;
        border: none;
        width: 20px;
        height: 20px;
        padding: 0;
    }

    header input[type="search"] {
        border: none;
        width: auto;
        border-radius: 3px;
    }

    header h1 {
        border: 0;
        margin-bottom: 15px;
        margin-top: 0;
        padding: 0 0 15px;
    }

    header a {
        font-weight: bolder;
    }

        header a:link {
            color: #fff;
        }

        header a:visited {
            color: #fc6;
        }

        header a:active {
            color: #f80;
        }

    #fig-logo {
        background-color: none;
        margin: 0;
        padding: 0;
        border: none;
        text-align: initial;
    }
}

@media only screen and (min-width: 640px) and (max-width: 683px){
    header {
        font-size: 1em;
        padding: 0;
        background-image: url(../img/header_950.jpg);
        margin: 0 0 15px 0;
        width: auto;
        height: 180px;
    }

        header ul {
            padding-left: 0;
            text-align: center;
            padding-top: 10px;
            background-color: #000;
            width: 100%;
            height: 28px;
            display: inline-block;
        }

            header ul li {
                list-style: none;
                display: inline-block;
            }

        header li::after, header li::before {
            content: " | ";
        }

    #logo {
        position: relative;
        left: 0;
        top: 0;
        width: 95px;
        margin: 8px;
    }

    #login {
        position: absolute;
        margin: 25px;
        top: 0;
        right: 0;
        width: auto;
    }

    header button[type="submit"] {
        background-image: url(../img/busca.png);
        background-repeat: no-repeat;
        text-indent: -9999px;
        border: none;
        padding: 0;
        width: 20px;
        height: 20px;
    }

    header input[type="search"] {
        border: none;
        width: auto;
        border-radius: 3px;
    }

    header h1 {
        border: 0;
        margin-bottom: 15px;
        margin-top: 0;
        padding: 0 0 15px;
    }

    header a {
        font-weight: bolder;
    }

        header a:link {
            color: #fff;
        }

        header a:visited {
            color: #fc6;
        }

        header a:active {
            color: #f80;
        }

    #fig-logo {
        background-color: none;
        margin: 0;
        padding: 0;
        border: none;
        text-align: initial;
    }
}

/*para Nexus 5X Landscape (732px) */
@media only screen and (min-width: 684px) and (max-width: 950px) {
    header {
        font-size: 1em;
        padding: 0;
        background-image: url(../img/header_950.jpg);
        margin: 0 0 15px 0;
        width: auto;
        height: 180px;
    }

        header ul {
            padding-left: 0;
            text-align: center;
            padding-top: 10px;
            background-color: #000;
            width: 100%;
            height: 28px;
            display: inline-block;
        }

            header ul li {
                list-style: none;
                display: inline-block;
            }

        header li::after, header li::before {
            content: " | ";
        }

    #logo {
        position: relative;
        left: 0;
        top: 0;
        width: 95px;
        margin: 8px;
    }

    #login {
        position: absolute;
        margin: 25px;
        top: 0;
        right: 0;
        width: auto;
    }

    header button[type="submit"] {
        background-image: url(../img/busca.png);
        background-repeat: no-repeat;
        text-indent: -9999px;
        padding: 0;
        border: none;
        width: 20px;
        height: 20px;
    }

    header input[type="search"] {
        border: none;
        width: auto;
        border-radius: 3px;
    }

    header h1 {
        border: 0;
        margin-bottom: 15px;
        margin-top: 0;
        padding: 0 0 15px;
    }

    header a {
        font-weight: bolder;
    }

        header a:link {
            color: #fff;
        }

        header a:visited {
            color: #fc6;
        }

        header a:active {
            color: #f80;
        }

    #fig-logo {
        background-color: none;
        margin: 0;
        padding: 0;
        border: none;
        text-align: initial;
    }
}

@media only screen and (min-width: 951px) and (max-width: 1030px) {
    header {
        font-size: 1.2em;
        padding: 0;
        background-image: url(../img/header.jpg);
        margin: 0 0 15px 0;
        width: 100%;
        height: 230px;
    }

        header ul {
            padding-left: 0;
            text-align: center;
            padding-top: 10px;
            text-align: center;
            background-color: #000;
            width: 100%;
            height: 30px;
            display: inline-block;
        }

            header ul li {
                list-style: none;
                display: inline-block;
            }

        header li::after, header li::before {
            content: " || ";
        }

    #logo {
        position: relative;
        left: 0;
        top: 0;
        width: 130px;
        margin: 15px;
    }

    #login {
        position: absolute;
        margin: 30px;
        top: 0;
        right: 0;
        width: auto;
    }

    header button[type="submit"] {
        background-image: url(../img/busca.png);
        background-repeat: no-repeat;
        text-indent: -9999px;
        padding: 0;
        border: none;
        width: 20px;
        height: 20px;
    }

    header input[type="search"] {
        border: none;
        width: auto;
        border-radius: 3px;
    }

    header h1 {
        border: 0;
        margin-bottom: 15px;
        margin-top: 0;
        padding: 0 0 15px;
    }

    header a {
        font-weight: bolder;
    }

        header a:link {
            color: #fff;
        }

        header a:visited {
            color: #fc6;
        }

        header a:active {
            color: #f80;
        }

    #fig-logo {
        background-color: none;
        margin: 0;
        padding: 0;
        border: none;
        text-align: initial;
    }
}

@media only screen and (min-width: 1031px) and (max-width: 1550px) {
    body {
        margin: 0;
        padding: 0;
        border: 0;
    }

    header {
        font-size: 1.2em;
        padding: 0;
        background-image: url(../img/header.jpg);
        margin: 0 0 15px 0;
        width: 100%;
        height: 230px;
    }

        header ul {
            padding-left: 0;
            padding-top: 10px;
            text-align: center;
            background-color: #000;
            width: 100%;
            height: 30px;
            display: inline-block;
        }

            header ul li {
                list-style: none;
                display: inline-block;
            }

        header li::after, header li::before {
            content: " || ";
        }

    #logo {
        position: relative;
        left: 0;
        top: 0;
        width: 130px;
        margin: 15px;
    }

    #login {
        position: absolute;
        margin: 30px;
        top: 0;
        right: 0;
        width: auto;
    }

    header button[type="submit"] {
        background-image: url(../img/busca.png);
        background-repeat: no-repeat;
        text-indent: -9999px;
        padding: 0;
        border: none;
        width: 20px;
        height: 20px;
    }

    header input[type="search"] {
        border: none;
        width: auto;
        border-radius: 3px;
    }

    header h1 {
        border: 0;
        margin-bottom: 15px;
        margin-top: 0;
        padding: 0 0 15px;
    }

    header a {
        font-weight: bolder;
    }

        header a:link {
            color: #fff;
        }

        header a:visited {
            color: #fc6;
        }

        header a:active {
            color: #f80;
        }

    a {
        text-decoration: none;
    }

    #fig-logo {
        background-color: none;
        margin: 0;
        padding: 0;
        border: none;
        text-align: initial;
    }
}

@media only screen and (min-width: 1551px){
    header {
        font-size: 1.2em;
        padding: 0;
        background-image: url(../img/header.jpg);
        margin: 0 0 15px 0;
        width: 100%;
        height: 230px;
    }

        header ul {
            padding-left:0;
            padding-top: 10px;
            text-align: center;
            background-color: #000;
            width: 100%;
            height: 30px;
            display: inline-block;
        }

            header ul li {
                list-style: none;
                display: inline-block;
            }

        header li::after, header li::before {
            content: " || ";
        }

    #logo {
        position: relative;
        left: 0;
        top: 0;
        width: 130px;
        margin: 15px;
    }

    #login {
        position: absolute;
        margin: 30px;
        top: 0;
        right: 0;
        width: auto;
    }

    header button[type="submit"] {
        background-image: url(../img/busca.png);
        background-repeat: no-repeat;
        text-indent: -9999px;
        padding: 0;
        border: none;
        width: 20px;
        height: 20px;
    }

    header input[type="search"] {
        border: none;
        width: auto;
        border-radius: 3px;
    }

    header h1 {
        border: 0;
        margin-bottom: 15px;
        margin-top: 0;
        padding: 0 0 15px;
    }

    header a {
        font-weight: bolder;
    }

        header a:link {
            color: #fff;
        }

        header a:visited {
            color: #fc6;
        }

        header a:active {
            color: #f80;
        }

    #fig-logo {
        background-color: none;
        margin: 0;
        padding: 0;
        border: none;
        text-align: initial;
    }
}

/*para Nexus 5X Portrait (412px) */
@media only screen and (min-width: 410px) and (max-width: 599px){
    header {
        font-size: 1em;
        padding: 0;
        background-image: url(../img/header_950.jpg);
        margin: 0 0 15px 0;
        width: auto;
        height: 198px;
    }

        header ul {
            padding-left: 0;
            text-align: center;
            padding-top: 10px;
            background-color: #000;
            width: 100%;
            height: 45px;
            display: inline-block;
        }

            header ul li {
                margin-right: 20px;
                list-style: none;
                display: inline-block;
            }

        header li::after, header li::before {
            content: " | ";
        }

    #logo {
        position: relative;
        left: 0;
        top: 0;
        width: 95px;
        margin: 8px;
    }

    #login {
        position: absolute;
        margin: 25px;
        top: 0;
        right: 0;
        width: auto;
    }

    header button[type="submit"] {
        background-image: url(../img/busca.png);
        background-repeat: no-repeat;
        text-indent: -9999px;
        padding: 0;
        border: none;
        width: 20px;
        height: 20px;
    }

    header input[type="search"] {
        border: none;
        width: auto;
        border-radius: 3px;
    }

    header h1 {
        border: 0;
        margin-bottom: 15px;
        margin-top: 0;
        padding: 0 0 15px;
    }

    header a {
        font-weight: bolder;
    }

        header a:link {
            color: #fff;
        }

        header a:visited {
            color: #fc6;
        }

        header a:active {
            color: #f80;
        }

    #fig-logo {
        background-color: none;
        margin: 0;
        padding: 0;
        border: none;
        text-align: initial;
    }
}

/*para Nexus 7 Portrait (600px) */
@media only screen and (min-width: 600px) and (max-width: 639px) {
    header {
        font-size: 1em;
        padding: 0;
        background-image: url(../img/header_950.jpg);
        margin: 0 0 15px 0;
        width: auto;
        height: 180px;
    }

        header ul {
            padding-top: 10px;
            background-color: #000;
            width: 95.7%;
            height: 28px;
            display: inline-block;
        }

            header ul li {
                list-style: none;
                display: inline-block;
            }

        header li::after, header li::before {
            content: " | ";
        }

    #logo {
        position: relative;
        left: 0;
        top: 0;
        width: 95px;
        margin: 8px;
    }

    #login {
        position: absolute;
        margin: 25px;
        top: 0;
        right: 0;
        width: auto;
    }

    header button[type="submit"] {
        background-image: url(../img/busca.png);
        background-repeat: no-repeat;
        text-indent: -9999px;
        padding: 0;
        border: none;
        width: 20px;
        height: 20px;
    }

    header input[type="search"] {
        border: none;
        width: auto;
        border-radius: 3px;
    }

    header h1 {
        border: 0;
        margin-bottom: 15px;
        margin-top: 0;
        padding: 0 0 15px;
    }

    header a {
        font-weight: bolder;
    }

        header a:link {
            color: #fff;
        }

        header a:visited {
            color: #fc6;
        }

        header a:active {
            color: #f80;
        }

    #fig-logo {
        background-color: none;
        margin: 0;
        padding: 0;
        border: none;
        text-align: initial;
    }
}

/* -- SEM MEDIA QUERRY -- 

header {
    font-size: 1.2em;
    padding: 0;
    background-image: url(../img/header.jpg);
    margin: 0 0 15px 0;
    width: 100%;
    height: 230px;
}
    header ul {
        padding-top: 10px;
        text-align: center;
        background-color: #000;
        width: 96%;
        height: 30px;
        display:inline-block;
    }
        header ul li {
            list-style: none;
            display: inline-block;
        }
            header li::after, header li::before {
                content: " || ";
            }

            header img {
                position: relative;
                left: 0;
                top: 0;
                width: 130px;
                margin: 15px;
            }
                header button[type="submit"] {
                    background-image: url(../img/busca.png);
                    background-repeat: no-repeat;
                    text-indent: -9999px;
                    padding: 0;
                    border: none;
                    width:20px;
                    height: 20px;
                }
                    header input[type="search"] {
                        border: none;
                        width: auto;
                        border-radius: 3px;
                    }
                        header h1 {
                            border: 0;
                            margin-bottom: 15px;
                            margin-top: 0;
                            padding: 0 0 15px;
                        }
                            header a {
                                font-weight: bolder;
                            }
                                header a:link {
                                    color: #fff;
                                }
                                header a:visited {
                                    color: #fc6;
                                }
                                header a:active {
                                    color: #f80;
                                }
    #logo {
        position: relative;
        left: 0;
        top: 0;
        width: 95px;
        margin: 8px;
    }

    #login {
        position: absolute;
        margin: 25px;
        top: 0;
        right: 0;
        width: 50px;
    }

/* ------------------- */