body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #fff;
}

section {
    width: 200px;
    height: auto;
    margin: 30px auto 30px auto;
    text-align: center;
    padding: 20px;
    border: 8px double #fc6;
    background-color: #fff2c1;
}



input[type="text"], input[type="password"] {
    border: 2px solid #fd0;
    padding: 8px;
    border-radius: 15px;
    color: #000;
    margin: 7px;
    text-align: center;
    background-color: #eee;
    transition: 1s;
}

    input[type="text"]:focus, input[type="password"]:focus {
        transition: 1s;
        border-color: #000;
    }

input[type="submit"] {
    border: 2px solid #28f;
    padding: 8px;
    border-radius: 15px;
    color: #000;
    margin: 7px;
    text-align: center;
    transition: 1s;
    background-color: #eee;
     cursor: pointer;
}

    input[type="submit"]:hover {
        transition: 1s;
        background-color: #28f;
    }

#cadastro {
    font-size: 0.8em;
    border: 2px solid #0c2;
    padding: 8px;
    border-radius: 15px;
    color: #000;
    margin: 7px;
    text-align: center;
    background-color: #eee;
    transition: 1s;
}
    #cadastro:hover {
        transition: 1s;
        background-color: #0c2;
    }

footer{
    position: absolute;
    clear: both;
}
  #erro {
    width: 235px;
    padding: 20px;
    position: absolute;
    top: 20px;
    left: 50px;
    transform: translateX(160%);
    text-align: center;
    animation: animacao 10s;
    animation-fill-mode: forwards; 
    }
  #erro p {
     border-radius: 6px;
     border: 10px solid #B71C1C;
     margin: 3px;
     background: #B71C1C;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    animation: animacao 10s;
    animation-fill-mode: forwards; 
            
    }
	#erro_selecionado {
    width: 235px;
    padding: 20px;
    position: absolute;
    top: 20px;
    left: 50px;
    transform: translateX(160%);
    text-align: center;
    animation: animacao 10s;
    animation-fill-mode: forwards; 
    }
  #erro_selecionado p {
     border-radius: 6px;
     border: 10px solid #B71C1C;
     margin: 3px;
     background: #B71C1C;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    animation: animacao 10s;
    animation-fill-mode: forwards; 
            
    }
 #correto {
    width: 235px;
    padding: 20px;
    position: absolute;
    top: 20px;
    left: 50px;
    transform: translateX(160%);
    text-align: center;
    animation: animacao 10s;
    animation-fill-mode: forwards; 
    }
 #correto p {
     border-radius: 6px;
     border: 10px solid #00C853;
     margin: 3px;
     background: #00C853;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    animation: animacao 10s;
    animation-fill-mode: forwards; 
    }
	 select {
        padding: 3px;
        border: solid #000 2px;
        border-radius: 8px;
        box-shadow: 3px 0 0 #fff;
        background-color: #fff;
    }
    @keyframes animacao {
         
             0%   {top: 0px; border-radius: 6px;}
            100%  {top: 100px; visibility:hidden;  border-radius: 6px;}
    }

.login {
    font-size: 0.8em;
    border: 2px solid #0c2;
    padding: 8px;
    border-radius: 15px;
    color: #000;
    margin: 7px;
    text-align: center;
    background-color: #eee;
    transition: 1s;
}
    .login:hover {
        transition: 1s;
        background-color: #0c2;
    }

